@import '~office-ui-fabric-react/dist/sass/References.scss';

.ehsHandbookListing {
  .container {
    margin: 0px auto;
    @include ms-Grid;
  }

  .subHeader {
    @include ms-font-xl;
    @include ms-fontWeight-regular;
    padding: 20px 0px 20px 13px;
  }

  .subjectLine {
    border-bottom:4px solid;
    border-color: $ms-color-themePrimary;
    width: 40px;
    height: 10px;
  }

  .subjectDivider {
    height: 2px;
    margin: 12px;
    background-color: $ms-color-neutralLight;
  }

  .chapterHeading {
    @include ms-font-l;
    @include ms-fontWeight-semibold;
    padding-bottom: 15px;
  }

  .calculatorAdditionIcon {
    color: $ms-color-themePrimary;
  }

  .image {
    width: 100%;
    height: 200px;
    object-fit: fill;
  }

  .row {
    @include ms-Grid-row;
  }

  .indexRow {
    @include ms-Grid-row;
    margin-left: -6px;
  }

  .indexcolumn {
    @include ms-Grid-col;
    @include ms-md4;
    @include ms-lg4;
    @include ms-sm12;
    padding: 20px;
  }

  .pageLink {
    color: $ms-color-black;
    text-decoration: none; 
    display: inline-block;
  }

  .additionalColumn{
    white-space: nowrap;
    padding: 0px 4px 0px 0px;
    display: block;
    font-size: 12px;
    color: #5d5d5d;
  }
  
  .pageLink:hover, .pageLink:hover .additionalColumn {
    color: $ms-color-themeDark;
  }
  
  .topicLink {
    padding-bottom: 10px;
  }


  .column {
    @include ms-Grid-col;
    @include ms-md4;
    @include ms-lg4;
    @include ms-sm12;
    background-color: transparent;
    padding-left: 0px;
    padding-right: 0px;
    margin: 30px 35px 30px 24px;
    
    @include ms-screen-xl-down {
      max-width: 345px;
    }
    @include ms-screen-lg-down {
      max-width: 269px;
    }
    @include ms-screen-md-down {
      max-width: 183px;
    }
    @include ms-screen-sm-down {
      max-width: 290px;
    }
    max-width: 345px;
    
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2);
    .siblingDetails {
      margin: 20px 20px 10px 20px;
      margin-top: 10px;
      min-height: 112px;
      overflow: hidden;
      .siblingTitle {
        @include ms-font-l;
        @include ms-fontWeight-semibold;
        color: $ms-color-black;
        margin: 0px;
      }
      .subjectDescription {
        @include ms-font-m;
        color: $ms-color-black;
        padding-top: 10px;
      }
      .technicalContact{
        padding-top:10px;
        display: block;
        span{
          display: inline-block;
        }
        span:after{
          content: ', ';
        }
        span:last-child:after{
          content:'';
        }
      }
    }
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }
}

  .buttonArea {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin-left: -8px;
    button > div {
      i {
        color: #0078d4;
      }
    }
  
    .callOutButtonStyle {
      float: left;
    }
  }
  
  .callout {
    max-width: 300px;
  }
  
  .header {
    padding: 18px 24px 12px;
  }
  
  .inner {
    height: 100%;
    padding: 5px;
    max-width: 300px;
  }
  
  .heading{
    font-weight: 500;
  }
  
  .actions {
    position: relative;
    margin-top: 20px;
    width: 100%;
    white-space: nowrap;
  }