@import '~office-ui-fabric-react/dist/sass/References.scss';

.ehsHandbookPageDetails {
  .container {
    margin: 0px auto;
    @include ms-Grid;
  }

  .row {
    @include ms-Grid-row;
  }

  .column {
    float: left;
    margin-right: 30px;
    margin-top: 20px;
  }

  .detailsColumn {
    @include ms-Grid-col;
    @include ms-md6;
  }

  .title {
    /* @include ms-font-xl; */
    @include ms-fontSize-m;
    @include ms-fontWeight-regular;
  }

  .subTitle {
    /* @include ms-font-l; */
    @include ms-fontSize-m;
    @include ms-fontWeight-semibold;
    background-color: $ms-color-neutralLighter;
    margin: 5px;
    padding: 6px;
    display: inline-block;
    a{
      color: inherit;
    }
  }

  .description {
    @include ms-font-l;
  }
.imgCol{
  width: 60px;
  float: left;
  img{
    max-width: 89%;
  }
}
.detailCol{
  width: calc(100% - 60px);
  float: left;
  overflow: auto;
}
.listItem{
  margin:0px 0px 0px 0px;
  padding: 0px 0px 0px 25px;
  box-sizing: border-box;
  width: 100%;
  float: left;
  li{
    width: 50%;float: left;
    padding: 0px 30px 2px 0px;
    box-sizing: border-box;
    word-break: break-word;
    span{
      display: inline;
      color: #5d5d5d;
      font-weight: 600;
    }
    a{
      color: inherit;
    }
    a:hover{
      color:$ms-color-themeDark;
    }
  }
}
.fullRow{
  width: 100%;
    float: left;
    background: #f2f2f2;
    padding: 10px;
    margin-top: 10px;
    font-size: 12px;
    box-sizing: border-box;
    border: 1px solid;
    border-color: #dcdcdc;
}

@media only screen and (max-width: 600px) {
  .listItem{
    li{
    width:100%;
    padding-right: 5px;
    }
  } 
}

@media only screen and (max-width: 360px) {
  .detailCol{
    width: calc(100% - 0px);
  }
}


}